xsdf.xsd

<?xml version="1.0" encoding="utf-8" ?>
<!-- Created with Liquid Studio (Trial) (https://www.liquid-technologies.com) -->
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema" >
    <xs:complexType name="productsType"  >
        <xs:annotation>
            <xs:documentation> Created with Liquid Studio (https://www.liquid-technologies.com) </xs:documentation>
            <xs:appinfo><dtdSource line="2" col="1" /></xs:appinfo>
        </xs:annotation>
        <xs:sequence >
            <xs:element name="product" type="productType" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="products" type="productsType" />

    <xs:complexType name="productType"  >
        <xs:annotation>
            <xs:appinfo><dtdSource line="3" col="1" /></xs:appinfo>
        </xs:annotation>
        <xs:sequence >
            <xs:element name="id" type="idType" />
            <xs:element name="name" type="nameType" />
            <xs:element name="price" type="priceType" />
            <xs:element name="color" type="colorType" />
            <xs:element name="image" type="imageType" />
            <xs:element name="link" type="linkType" />
            <xs:element name="category" type="categoryType" />
        </xs:sequence>
    </xs:complexType>
    <xs:element name="product" type="productType" />

    <xs:complexType name="idType"  >
        <xs:annotation>
            <xs:appinfo><dtdSource line="4" col="1" /></xs:appinfo>
        </xs:annotation>
        <xs:simpleContent>
            <xs:extension base="xs:string" >
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:element name="id" type="idType" />

    <xs:complexType name="nameType"  >
        <xs:annotation>
            <xs:appinfo><dtdSource line="5" col="1" /></xs:appinfo>
        </xs:annotation>
        <xs:simpleContent>
            <xs:extension base="xs:string" >
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:element name="name" type="nameType" />

    <xs:complexType name="priceType"  >
        <xs:annotation>
            <xs:appinfo><dtdSource line="6" col="1" /></xs:appinfo>
        </xs:annotation>
        <xs:simpleContent>
            <xs:extension base="xs:string" >
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:element name="price" type="priceType" />

    <xs:complexType name="colorType"  >
        <xs:annotation>
            <xs:appinfo><dtdSource line="7" col="1" /></xs:appinfo>
        </xs:annotation>
        <xs:simpleContent>
            <xs:extension base="xs:string" >
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:element name="color" type="colorType" />

    <xs:complexType name="imageType"  >
        <xs:annotation>
            <xs:appinfo><dtdSource line="8" col="1" /></xs:appinfo>
        </xs:annotation>
        <xs:simpleContent>
            <xs:extension base="xs:string" >
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:element name="image" type="imageType" />

    <xs:complexType name="linkType"  >
        <xs:annotation>
            <xs:appinfo><dtdSource line="9" col="1" /></xs:appinfo>
        </xs:annotation>
        <xs:simpleContent>
            <xs:extension base="xs:string" >
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:element name="link" type="linkType" />

    <xs:complexType name="categoryType"  >
        <xs:annotation>
            <xs:appinfo><dtdSource line="10" col="1" /></xs:appinfo>
        </xs:annotation>
        <xs:simpleContent>
            <xs:extension base="xs:string" >
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:element name="category" type="categoryType" />

</xs:schema>
